@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Cousine);

body {
  font-family: 'Cousine', 'monospace';
  color: #C0C0C0;
}

#console {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin: 0;
  background-color: #343434;
  border-color: #CABFA6;
  border-style: solid;
  border-top-width: 30px;
  border-left-width: 30px;
  border-right-width: 30px;
  border-bottom-width: 60px;
  
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 
    inset 0 0 0px 7px #928771, 
    inset 0 0 0px 12px rgba(0,0,0,0.2);
  
  pre {
    position: relative;
    font-family: 'Cousine', 'monospace';
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    
    &:nth-child(1) {
      margin-top: 25px;
    }
    
    &.breakline {
      padding-bottom: 12px;
    }
  }
  
  &::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 10px;
    background-color: #343434;
    right: 20px;
    bottom: -35px;
  }
  
  &::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #343434;
    right: 5px;
    bottom: -32px;
  }
}