﻿<!--
    
    ~ Along with this file, you must add the following things in \Config\Dashboard.config too:
    
    <section alias="[Section Alias]">
    <areas>
      <area>[Section Name]</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        /App_Plugins/[Plugin Name]/backoffice/dashboard.html
      </control>
    </tab>
  </section>
    
-->
<div class="row">
    <div class="span1">
        <img style="width: 80px; float: left;" src="../../../Media/cow.png" />
    </div>
    <br />
    <div class="span10" style="margin-left: 2%;">
        <h2 style="">Welcome to Area 51!</h2>
    </div>
</div>

<hr />
<p>This is a custom back-office section. Here you're allowed to create whatever you can imagine!</p>
<p>The following list contains functionalities and other stuff implemented in the <b>Area 51</b> project:</p>
<br />
<ul>
    <li><b>Process status checker</b> using SignalR and AngularJs. Real time tasking feedback for long running processes.</li>
</ul>

