﻿<script>
    function CustomEditController($scope, $routeParams) {
        $scope.content = { tabs: [{ id: 1, label: "Info" }] };
        $scope.EditMode = function () {
        return $routeParams.create == 'true';
        };
    }
</script>

<div ng-controller="CustomEditController">

    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1 class="umb-panel-header-name">Lobby</h1>
            </div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1" rel="kalle">
                <div class="umb-pane">
                    
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>

</div>