﻿<style>
    @import url(http://fonts.googleapis.com/css?family=Cousine);
    #console {
        position: absolute;
        top: 260px;
        left: 250px;
        width: 400px;
        height: 250px;
        margin: 0;
        background-color: #343434;
        border-color: #CABFA6;
        border-style: solid;
        border-top-width: 30px;
        border-left-width: 30px;
        border-right-width: 30px;
        border-bottom-width: 60px;
        border-radius: 10px;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        box-shadow: inset 0 0 0px 7px #928771, inset 0 0 0px 12px rgba(0, 0, 0, 0.2);
    }
    #console pre {
        border: none;
        font-family: 'Cousine', 'monospace';
        color: chartreuse;
        background-color: rgba(0, 0, 0, 0.0);
        position: relative;
        font-family: 'Cousine', 'monospace';
        font-size: 14px;
        padding-left: 30px;
        padding-bottom: 0;
        display: block;
        overflow: hidden;
        margin: 0;
    }
    #console pre:nth-child(1) {
        margin-top: 25px;
    }
    #console pre.breakline {
        padding-bottom: 12px;
    }
    #console::before {
        position: absolute;
        content: '';
        width: 70px;
        height: 10px;
        background-color: #343434;
        right: 20px;
        bottom: -35px;
    }
    #console::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: #343434;
        right: 5px;
        bottom: -32px;
    }
    #start {
        position: absolute;
        z-index: 3;
        top:386px;
        left: 55px;
    }
</style>

<!-- JavaScript -->
<script src="/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="/signalr/hubs"></script>

<script type="text/javascript">
    function ProcessStatusChecker($scope, $routeParams) {
        $scope.currentId = $routeParams.id;
        $scope.content = { tabs: [{ id: 1, label: "Info" }, { id: 2, label: "Try me" }] };

        // Scope variables
        $scope.message = '';    // Holds the new task-message
        $scope.hub = null;      // Holds the reference to Hub
        $scope.messages = [];   // Collection of messages coming from server

        $scope.hub = $.connection.ProcessStatusChecker; // Initializes Hub
        $.connection.hub.url = "/signalr/hubs";

        // Register a client method on Hub to be invoked by the server
        $scope.hub.client.broadcastMessage = function (message) {
            var newMessage = message;

            // Push the newly coming message to the collection of messages
            $scope.messages.push(newMessage);
            $("#monitor").append("*~ " + newMessage + "<br/>");
        };
        $.connection.hub.start(); // Starts Hub
    }

    function ClearFields() {
        document.getElementById("descriptionA").style.display = "none";
        document.getElementById("descriptionB").style.display = "none";
        $("#monitor").html("");
        document.getElementById("monitor").style.display = "block";
        document.getElementById("loading").style.display = "block";
    }

    function DummyProcess() {
        $("#monitor1").html("");
        $.ajax({
            type: "POST",
            url: "/umbraco/api/ProcessStatusCheckerApi/DummyProcess",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            statusCode: {
                200: function (data) {
                    if (data == null) {
                        $("#monitor").html("*~ Error : statusCode < 200");
                    } else {
                        document.getElementById("loading").style.display = "none";
                    }
                }
            },
            error: function () {
                $("#monitor").html("*~ Error : url not found.");
            }
        });
    }
</script>
<div ng-app="StatusChecker">
    <form ng-controller="ProcessStatusChecker" val-form-manager>
        <umb-panel>
            <umb-header tabs="content.tabs">
                <div class="umb-headline-editor-wrapper span12 ng-scope">
                    <h1 class="umb-panel-header-name">Process status checker</h1>
                </div>
            </umb-header>

            <umb-tab-view>
                <umb-tab id="tab1" rel="Tab 1">
                    <div class="umb-pane">
                        <h4>Real time tasking feedback for long running processes</h4>
                        <hr />
                        <p>An elegant solution to a common problem: reporting the progress of long-running server operations.</p>
                        <br />
                        <p>Packages used:</p>
                        <ul>
                            <li><a href="https://www.asp.net/signalr"><u>SignalR</u></a></li>
                        </ul>
                    </div>
                </umb-tab>
                <umb-tab id="tab2" rel="Tab 2">
                    <div class="umb-pane">
                        <h4>App Demo</h4>
                        <hr />
                        <br />
                        <!--<p>Click the start button to simulate a "dummy" long process on the server.</p>
                        <p>Get ready to receive some real time task reports in you browser above.</p>-->
                        <br />
                        <button id="start" type="submit" class="btn btn-success" onclick="DummyProcess(); ClearFields();">Start</button>
                        <br />
                        <br />
                        
                        <div id="console">
                            <pre id="monitor" style="display: none;"></pre>
                            <pre id="loading" style="display: none;">*~ Loading . . .</pre>
                            <pre id="descriptionA"><br />Click the start button to simulate a <br />"dummy" long process on the server.</pre>
                            <pre id="descriptionB">Get ready to receive some real time <br />task reports...</pre>
                        </div>
                </umb-tab>
            </umb-tab-view>
        </umb-panel>
    </form>
</div>
